<h1>Tweets#show</h1>
<p>Find me in app/views/tweets/show.html.erb</p>

<div class="card my-3">
  <div class="row">
    <div class="col">
      <%= image_tag "#{User.find_by(id: @tweet.user_id).image_url}", class: "max-width: 5px" %>
    </div>
    <div class="col">
      <p><%= User.find_by(id: @tweet.user_id).username %></p>
    </div>
  </div>
  <%= image_tag @tweet.image_url, class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text"><%= @tweet.content %></p>
  </div>

</div>
